@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center greenbg">

    <h1 class="display-4 bvtxt">Bem Vindo</h1>

    <img class ="logoindex" src="~/Imagens/logo.png" alt="Logo do Consultório"/>

    
    <div class="txtdiv">
    <p class="txtinfo">Consultório Buck, o seu destino para cuidados odontológicos de qualidade e atendimento personalizado. Nossa missão é proporcionar a você e sua família sorrisos saudáveis e deslumbrantes, enquanto garantimos um ambiente acolhedor e confortável para todos os nossos pacientes. </p>
    </div>

    <div class="d-grid gap-4 d-md-block">
        <a href="#"><button class="btn btn-primary btn-light btn-dentepq" type="button"></button></a>
        <a href="#"><button class="btn btn-primary btn-light btn-dentepq" type="button"></button></a>
        <a href="~/Home/Login"><button class="btn btn-primary btn-light btn-dente" type="button"><h2>Já sou Cadastrado</h2> <img class="dentesimg" src="~/Imagens/denteB.png" alt="Imagem Dente Brilhante"/></button></a>
        <a href="~/Home/Cadastro"><button class="btn btn-primary btn-light btn-dente" type="button"><h2>Quero me Cadastrar</h2><img class="dentesimg" src="~/Imagens/denteM.png" alt="Imagem Dente Machucado"/></button></a>
        <a href="#"><button class="btn btn-primary btn-light btn-dentepq" type="button"></button></a>
        <a href="#"><button class="btn btn-primary btn-light btn-dentepq" type="button"></button></a>
    </div>

</div>
