
@{
    ViewData["Title"] = "Login";
}

<div class="text-center greenbg">

    <h1 class="display-4 bvtxt logcad">Login do Usuário</h1>



    <div class="divlogin">

    <div class="arealogin">

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label labellg">Nome de Usuário</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu Usuário">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label labellg">Senha</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Apenas Letras e Números">
</div>


    <button type="submit" class="btn btn-primary btn-light">Login</button>
    <a href="~/Home/Index"><button type="submit" class="btn btn-primary btn-light">Voltar</button></a>


</div>
</div>
</div>